{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Genre</h1>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('genre_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('genre_edit', { 'id': genre.id }) }}" class="btn btn-light">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('genre_delete', { 'id': genre.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this Genre?">
            <span class='bi bi-x-lg'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ genre.name }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ genre.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ genre.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ genre.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ genre.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    {% include 'work/workList.html.twig' with {'works': genre.works} %}

{% endblock %}
