{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Publisher</h1>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('publisher_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('publisher_edit', { 'id': publisher.id }) }}" class="btn btn-light">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('publisher_delete', { 'id': publisher.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this Publisher?">
            <span class='bi bi-x-lg'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ publisher.name }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if publisher.created %}{{ publisher.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if publisher.updated %}{{ publisher.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% include 'work/workList.html.twig' with {'works': publisher.works} %}

{% endblock %}
