<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('bower/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bower/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/base.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:200,300,400,700&amp;subset=latin-ext" rel="stylesheet">
        <script src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">New Narratives</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {{ knp_menu_render('main') }}
                        <li>
                            <a href="{{ asset('docs/sphinx/index.html') }}">Help &amp; Docs</a>
                        </li>

                        {% if app.user is not null and is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Admin <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('admin_comment_index') }}">Comments</a></li>
                                    <li><a href="{{ path('admin_comment_note_index') }}">Comment Notes</a></li>
                                    <li><a href="{{ path('admin_comment_status_index') }}">Comment Statuses</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('post_index') }}">Blog Posts</a></li>
                                    <li><a href="{{ path('post_status_index') }}">Post Statuses</a></li>
                                    <li><a href="{{ path('post_category_index') }}">Post Categories</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ path('user') }}">
                                            Users
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.username }} <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('fos_user_profile_show') }}">
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_change_password') }}">
                                            Change Password
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">
                                    Login
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        {% if block('jumbo') is defined %}
            <div class="jumbotron">
                {{ block('jumbo') }}
            </div>
        {% endif %}
        <div class="container">
            {% if block('pageheader') is defined %}
                <div class="page-header">
                    {{ block('pageheader') }}
                </div>
            {% endif %}

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p>
                    <b>New Narratives in the History of Philosophy</b>
                    <br/>
                    <a href="docs/sphinx/index.html">Documentation</a> |
                    <a href="{{ path('privacy') }}">Privacy</a> |
                    <a href="https://github.com/sfu-dhil/new-narratives">GitHub</a>
                </p>
            </div>
        </footer>

        <script src="{{ asset('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/form.js') }}"></script>
        {% block javascripts %}
        {% endblock %}

        {% if piwik_enabled %}
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["{{ piwik_domain }}"]]);
            _paq.push(["setDoNotTrack", true]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "{{ piwik_url }}";
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', '{{ piwik_siteid }}']);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <noscript>
        <p><img src="{{ piwik_url }}piwik.php?idsite={{ piwik_siteid }}" style="border:0;" alt="" /></p>
        </noscript>
        <!-- End Piwik Code -->
        {% endif %}
    </body>
</html>
