{% extends 'base.html.twig' %}

{% block styles %}
    <style>
        .tt-match {
            background-color: pink;
        }
        .twitter-typeahead {
            width: 100% !important;
        }
        
        .twitter-typeahead .list-group {
            width: 100% !important;
        }
    </style>        
{% endblock %}

{% block body %}
    <h1>Contributions</h1>

    <p>Edit the dates contributions associated with <i>{{ work.title }}</i>.</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a href="{{ path('work_show', {'id': work.id}) }}" class="btn btn-warning">Cancel</a>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        typeahead_path = '{{ path('person_typeahead') }}';
    </script>
    <script src="{{ asset('bower/typeahead.js/dist/typeahead.jquery.min.js') }}"></script>
    <script src="{{ asset('bower/typeahead.js/dist/bloodhound.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/typeahead.js') }}?v={{ random() }}"></script>
{% endblock %}
