{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Role List</h1>
    <p class="count">
        Displaying {{ roles|length }} roles of {{ roles.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('role_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Label</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
                <tr>
                    <td>
                        <a href="{{ path('role_show', { 'id': role.id }) }}">
                            {{ role.name }}
                        </a>
                    </td>
                    <td>{{ role.label }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(roles) }}
    </div>

{% endblock %}
