{% extends 'base.html.twig' %}

{% block title %}Place List{% endblock %}

{% block pageheader %}
    <h1>Place List</h1>
    <p class="count">
        Displaying {{ places|length }} places of {{ places.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('place_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New </a>
    {% endif %}

    <a href="{{ path('place_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search </a>
{% endblock %}

{% block body %}
    {% embed 'place/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(places) }}
    </div>

{% endblock %}
