{% extends 'base.html.twig' %}

{% block title %}Person List{% endblock %}

{% block pageheader %}
    <h1>Person List</h1>
    <p class="count">
        Displaying {{ people|length }} people of {{ people.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('person_new') }}" class="btn btn-light">
            <span class="bi bi-plus-lg"></span> New </a>
    {% endif %}

    <a href="{{ path('person_search') }}" class="btn btn-light">
        <span class="bi bi-search"></span> Search </a>
{% endblock %}

{% block body %}
    {% embed 'person/partial/table.html.twig' %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(people) }}
    </div>

{% endblock %}
