{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Subject Source</h1>
{% endblock %}

{% block action_buttons %}
    <a href="{{ path('subject_source_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('subject_source_edit', { 'id': subjectSource.id }) }}" class="btn btn-light">
            <span class='bi bi-pencil-square'></span> Edit
        </a>
        <a href="{{ path('subject_source_delete', { 'id': subjectSource.id }) }}" class="btn btn-light" data-confirm="Are you sure you want to delete this SubjectSource?">
            <span class='bi bi-x-lg'></span> Delete
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ subjectSource.name }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ subjectSource.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ subjectSource.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if subjectSource.created %}{{ subjectSource.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if subjectSource.updated %}{{ subjectSource.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if subjectSource.getSubjects()|length %}
        <h2>Subjects</h2>
        <ul>
            {% for subject in subjectSource.getSubjects() %}
                <li>
                    <b>
                        <a href="{{ path('subject_show', {'id': subject.id}) }}">{{ subject }}</a>
                    </b>
                    {% if subject.description %}
                        <br>{{ subject.description }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
