<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset_prefix|default('') ~ asset('favicon.ico') }}">

        <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/bootstrap-icons/font/bootstrap-icons.css') }}" />
        <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/select2/dist/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('node_modules/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:200,300,400,700&amp;subset=latin-ext" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset_prefix|default('') ~ asset('css/base.css') }}">

        <script src="{{ asset_prefix|default('') ~ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset_prefix|default('') ~ asset('node_modules/select2/dist/js/select2.full.min.js') }}"></script>
        <script src="{{ asset_prefix|default('') ~ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
        <script src="{{ asset_prefix|default('') ~ asset('node_modules/symfony-collection/jquery.collection.js') }}"></script>
        <script src="{{ asset_prefix|default('') ~ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

        <script src="{{ asset_prefix|default('') ~ asset('js/form.js') }}"></script>

        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-dark fixed-top navbar-expand-lg p-1">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">New Narratives</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    {{ knp_menu_render('main', { 'allow_safe_labels': true }) }}
                    {{ knp_menu_render('nines_blog_pages', { 'allow_safe_labels': true }) }}
                    {% if is_granted('ROLE_FEEDBACK_ADMIN') %}
                        {{ knp_menu_render('nines_feedback', { 'allow_safe_labels': true }) }}
                    {% endif %}
                    {{ knp_menu_render('nines_user_nav', { 'allow_safe_labels': true }) }}
                </div>
            </div>
        </nav>

        {% if block('jumbo') is defined %}
            <div class="jumbotron">
                {{ block('jumbo') }}
            </div>
        {% endif %}

        <div class="container">
            <div class="row mb-3 align-items-center">
                <div class="col-lg">
                    {% if block('pageheader') is defined %}
                        <div class="page-header">
                            {{ block('pageheader') }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-auto">
                    <div class="d-grid gap-2 d-md-block m-2">
                        <button type="button" class="btn mx-0 px-0 invisible spacer">&nbsp;</button>
                        {% block action_buttons %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p>
                    <b>New Narratives in the History of Philosophy</b>
                    <br/>
                    <a href="{{ asset_prefix|default('') ~ asset('docs/sphinx/index.html') }}">Documentation</a> |
                    <a href="{{ path('privacy') }}">Privacy</a> |
                    {% if git_repo and (git_tag or git_commit) %}
                        <a href="{{ git_repo ~ '/tree/' ~ (git_tag ? git_tag : git_commit) }}" target="_blank">GitHub{{ git_tag ? ' ' ~ git_tag : '' }}</a>
                    {% endif %}
                </p>
            </div>
        </footer>

        {% block javascripts %}
        {% endblock %}

        {% if matomo_enabled %}
            {% include '@NinesUtil/matomo.html.twig' %}
        {% endif %}
    </body>
</html>
