{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Contribution List</h1>
    <p class="count">
        Displaying {{ contributions|length }} contributions of {{ contributions.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('contribution_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('contribution_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Created</th>
                <th>Updated</th>            </tr>
        </thead>
        <tbody>
        {% for contribution in contributions %}
            <tr>
                <td>
                    <a href="{{ path('contribution_show', { 'id': contribution.id }) }}">
                        {{ contribution.created }}
                    </a>
                </td>
                <td>{% if contribution.updated %}{{ contribution.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(contributions) }}
    </div>

{% endblock %}
