{{ form_start(form) }}
{{ form_widget(form) }}
<div class="mb-3 row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <input type="submit" value="Save" class="btn btn-primary" />
        {% if place.id is null %}
            <a href="{{ path('place_index') }}" class="btn btn-warning"> Cancel </a>
        {% else %}
            <a href="{{ path('place_show', { 'id': place.id }) }}" class="btn btn-warning"> Cancel </a>
        {% endif %}
    </div>
</div>
{{ form_end(form) }}

{% block javascripts %}
    {% include '@NinesEditor/editor/widget.html.twig' %}
{% endblock %}