<i><a href="{{ path('work_show', {'id': work.id}) }}">{{ work.title }}</a></i>
    {% if work.contributions|length > 0 %}
    <br>
    {% for contribution in work.contributions %}
        {{ contribution.role }}: {{ contribution.person }}
    {% endfor %}
{% endif %}
{% if work.dates|length > 0 %}
    <br>
    {% for date in work.dates %}
        {{ date.dateCategory }}: {{ date.value }}
    {% endfor %}
{% endif %}
